div{
    height:100px;
    width:100px;
    background-color:aqua;
    border:2px solid black;
    margin:20px;
    display:inline-block;
}
#box2{
    position:relative;
    top:50px;
    left:50px;
    background-color:yellow;
}
#box1{
    position:relative;
    left:105px;
    top:105px;
}
#box3{
    position:absolute;
    top:10px;
    left:30px;
    background-color:lightgreen;
    z-index:6;
}
#box4{
    position:absolute;
    top:100px;
    right:2px;
    background-color:orange;
    z-index:4;
}
#box5{
    position:fixed;
    left:10px;
    top:10px;
    background-color: aquamarine;
    z-index:5;
}
#box6{
    position:sticky;
    top:0;
    background-color:lightpink;
}