#container{
    width: 150px;
    height: 150px;
    background-color:rgba(16, 119, 30,0.7);
    margin:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    animation-name:animate;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
    animation-direction:alternate-reverse;
}
@keyframes animate{
    from{background-color:rgba(16, 119, 30,0.7);}
    to{background-color:rgba(17, 106, 116, 0.7);}
    from{border-radius: 0%;}
    to{
        border-radius: 50%;
    }
    0%{
        color:black;
    }
    50%{
        color:rgb(104, 223, 244)
    }
    100%{
        color:white;
    }
    form{
        font-size:medium;
    }
    to{
        font-size:50px;
    }
}