div{
    height:100px;
    width:100px;
    background-color:rgb(178, 219, 254)
}
@media(max-width: 300px)
{
    div{
        background-color:green;
    }
}
@media(min-width:300px) and (max-width:400px)
{
    div{
        background-color:rgb(255, 0, 191);
    }
}
@media(min-width:400px) and (max-width:600px)
{
    div{
        background-color:rgb(255, 0, 191);
    }
}
@media(min-width:600px)
{
    div{
        background-color:rgb(0, 136, 255);
    }
}