#container{
    width:500px;
    height:500px;
    border:2px solid black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    
    
}
.box{
    width:100px;
    height:80px;
    border:1px solid rgb(0, 0, 0);
}
#one{
    background-color:rgb(245, 167, 167);
    flex-grow:2;
}
#two{
    background-color:rgb(176, 249, 176);
}
#three{
    background-color:rgb(172, 172, 248);
}
#four{
    background-color:rgb(247, 247, 135);
}
#five{
    background-color:rgb(161, 245, 245);
}