*{
    margin: 0;
    padding: 0;
    color:white;
}
#navbar{
    background-color: #0f1111;
    height:60px;
    padding:2px;
}
#logo{
    font-size: 25px;
    color:#f08804;
    margin-left:10px;
}
a{
    margin-right:175px;
    padding-top:10px;
    text-decoration:none;
    display:inline;
}
button{
    background-color:#f08804;
    border:none;
    width:4%;
    height:20px;
    border-radius:3px;
}
#search{
    height:20px;
    width:15%;
    border:none;
    border-radius:3px;
    padding-left:5px;
}
#contact{
    margin-right:100px;
}