*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white; 
    padding:1px;
    display:flex; 
    align-items:center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width:100px;

}
.logo{
    height:50px;
    width:100%;
    background-image:url("amazon_logo.png");
    background-size:contain;
    background-repeat:no-repeat;
    margin-top:5px;
}
.border{
    border:1px solid transparent;
}
.border:hover{
border: 1px solid white;
}

.add-first{
    color:#cccccc;
    font-size:0.85rem;
    margin-left:20px;
}
.add-second{
    font-size:1rem;
    margin-left:2px;
}
.add-icon{
    display:flex;
    align-items:center;
}


.nav-search{
    display:flex;
    justify-content:space-evenly;
    background-color:pink;
    width:620px;
    height:30px;
    border-radius:5px;
}
.nav-search:hover{
    border:2px solid #febd68;
}
.search-select{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background-color:#f3f3f3;
    width:45px;
    text-align:center;
    border:none;
}
.search-input{
    width:100%;
    border:none;
    padding-left:10px;
    font-size:1rem;
}
.search-icon{
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
    background-color:#febd68;
    color:#0f1111;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}


span{
    font-size:0.7rem;
}
.nav-second{
    font-size:0.85rem;
    font-weight:700;
}

.nav-cart i {
    font-size:30px;
    font-weight:700;
}
.nav-cart{
    font-size:0.75rem;
    font-weight:700;
}


.panel{
    height:40px;
    background-color:#222f3d;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    color:white;
}
.panel-all {
    margin-left:0px;
}
.panel-items {
    display:flex;
    width:75%;
    font-size:0.9rem;
    font-weight:500;
    margin-left:20px;
}
.panel-items p{
    margin-left:15px;
}

.panel-deals{
    font-size:1rem;
}

.hero-section{
    height:400px;
    background-image:url("hero_image.jpg");
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items: flex-end;


}
.hero-msg{
    background-color:white;
    height:40px;
    color:black;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:0.85rem;
    width:90%;
    margin-bottom:25px;
}
.hero-msg a{
    text-decoration:none;
    color:#007185;
}



.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color:#e2e7e6 ;
    
}
.box{
   height:400px;
    width:23%;
    background-color: white; 
    padding:20px 0px 15px;
    margin:10px;
    border-radius: 3px;
}

.box1 .box-img{
    background-image:url("box1_image.jpg");
}
.box2 .box-img{
    background-image:url("box2_image.jpg");
}
.box3 .box-img{
    background-image:url("box3_image.jpg");
}
.box4 .box-img{
    background-image:url("box4_image.jpg");
}
.box5 .box-img{
    background-image:url("box5_image.jpg");
}
.box6 .box-img{
    background-image:url("box6_image.jpg");
}
.box7 .box-img{
    background-image:url("box7_image.jpg");
}
.box8 .box-img{
    background-image:url("box8_image.jpg");
}

.box-img{
    height:300px;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:10px;
    margin-bottom:10px;
}
.box-content{
    margin-left:1rem;
    margin-right:1rem;
}
.box p{
    font-size: 0.9rem;
    color:#007185;
}



footer{
    margin-top:20px;
}
.foot-panel1{
    background-color: #37475a;
    color:white;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.foot-panel2{
background-color:#222f3d;
color:white;
height:300px;
display:flex;
justify-content: space-evenly;
}
.foot-panel2 a{
    display:block;
    font-size:0.85rem;
    margin-top:10px;
    color:#dddddd;
    
}
ul{
    margin-top:20px;
}



.foot-panel3{
    background-color:#222f3d;
    color:white;
    border-top:0.1px solid white;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.panel3-logo{
    height:40px;
    width:100px;
    background-image: url("amazon_logo.png");
    background-size:cover;
    background-repeat:no-repeat;
}  



.foot-panel4{
    background-color:#0f1111;
    color:white;
    height:80px;
    padding-top:10px
}
.pages{
    font-size:0.7rem;
    text-align: center;
}
.copyright{
    font-size:0.7rem;
    text-align: center;
    margin-top:5px;
}